#ecotube-info-osd {
  background: rgba(0,0,0,0.5);
  color: white;
  display: block;
  position: absolute;
  padding: 2mm;
  font-size: 20pt;
  top: 2mm;
  left: 2mm;
}

#player-control-overlay.fadein {
  background-color: initial !important;
}

ytm-custom-control .player-controls-middle {
  display: none !important;
}

ytm-custom-control .player-controls-bottom {
  display: none !important;
}

#player-control-overlay {
  bottom: initial !important;
}

#player-control-container {
  bottom: initial !important;
}

div.html5-video-container {
  height: 100% !important;
}

div.player-controls-background {
  display: none;
}

video {
  cursor: initial;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

video.hide-video-controls::-webkit-media-controls-panel {
  display: none;
}

#player-container-id.theatre {
  right: 0 !important;
}

ytm-single-column-watch-next-results-renderer.theatre {
  width: 100% !important;
  position: initial !important;
}
